asset/__pycache__/
asset/migrations/

project/__pycache__/
project/migrations/

banana/__pycache__/
banana/migrations/

school/__pycache__/
school/migrations/

student/__pycache__/
student/migrations/

teacher/__pycache__/
teacher/migrations/

sent_emails/


db.sqlite3
banana/
*.pyc