asset/__pycache__/
asset/migrations/

project/__pycache__/
project/migrations/

banana/__pycache__/
banana/migrations/
banana/bin/
banana/include/
banana/lib/
banana/lib64/

school/__pycache__/
school/migrations/

student/__pycache__/
student/migrations/

teacher/__pycache__/
teacher/migrations/

sent_emails/


db.sqlite3

*.pyc