{% extends 'login/base.html' %}


{% block content %}
  <div class="row justify-content-center  mt-5 mb-5">
    <div class="col-5">
      <div class="card">
      <div class="card-header"><h2>Login</h2></div>
        <div class="card-body mt-3">
          <form method="post" novalidate style="padding: 0rem 0rem 2rem 5rem;">
            {% csrf_token %}
            {{ form }}
            <div class="mt-3">
              <button type="submit" class="btn btn-success" >Login</button>
              <a href="" class="btn btn-success">Forgot your password?</a></div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
