{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Load google fonts icons #}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">


{# Load Material icons #}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load styles #}
<style>
  body {
    font-family: 'Tangerine', serif;
    font-size: 15px;
    text-shadow: 0px 1px 0px #aaa;
  }
</style>


{% block header %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">NG-<span>NEMIS</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">apps</i> <span class="sr-only">(current)</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"> <i class="material-icons"> person_add</i> Student</a>
            <a class="dropdown-item" href="#"><i class="material-icons">school</i> School</a>
            <a class="dropdown-item" href="#"><i class="material-icons">add</i> Teacher</a>
            <a class="dropdown-item" href="#"><i class="material-icons">layers</i> Project</a>
            <a class="dropdown-item" href="#"><i class="material-icons">control_point_duplicate</i> Assets</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="material-icons">person</i> Supervisors</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="material-icons">note</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="material-icons">contact_support</i></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="material-icons">youtube_searched_for</i></button>
      </form>
    </div>
  </nav>
{% endblock header  %}

<div class="container">
  <div class="row">
  {% comment "sidebar" %}

  {% endcomment %}
    {% comment %} <div class="col-2 bg-dark">
    {% block sidebar %}
      <nav class="text-white navbar-expand-lg navbar-light bg-dark">
        <a class="nav-link active" href="#"> <i class="material-icons"> person_add</i> Student</a>
        <a class="nav-link" href="#"><i class="material-icons">school</i> School</a>
        <a class="nav-link" href="#"><i class="material-icons">layers</i> Project</a>
        <a class="nav-link" href="#"><i class="material-icons">control_point_duplicate</i> Assets</a> 
      </nav>
    {% endblock sidebar %}
    </div> {% endcomment %}
{% comment "mainbody" %}

{% endcomment %}
    <div class="container">
        <div class="col">
          {% block content %}
            <div class="row">
              <div class="jumbotron text-white bg-dark mt-3">
                <h1 class="display-4">Hello, Bayo!</h1>
                <p class="lead">This is a Nemis, a simple and powerful app, its allows you to create students, add school, add Project, add Assets.</p>
                <hr class="my-4">
                <p>Its capabilities are beyond our times.</p>
                <p class="lead">
                  <a class="btn btn-dark btn-lg bg-success" href="#" role="button">Learn more</a>
                </p>
              </div>
            <div class="row">
              <div class="col-4">
                <div class="card text-white bg-dark mb-3" >
                  <div class="card-header"> Student</div>
                  <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card text-white bg-dark mb-3" >
                  <div class="card-header">Schools</div>
                  <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card text-white bg-dark mb-3" >
                  <div class="card-header">Teacher</div>
                  <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="card text-white bg-dark mb-3" >
                  <div class="card-header">Analytics</div>
                  <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card text-white bg-dark mb-3" >
                  <div class="card-header">Projects</div>
                  <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card text-white bg-dark mb-3">
                  <div class="card-header">Assets</div>
                  <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>                    
              </div>
            </div>
          {% endblock content %}
          </div>
    </div>

  </div>
</div>

{% block footer %}
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title ">Designed and Develop by</h5>
      <p class="card-text">BDPR Technologies.</p>
    </div>
  </div>
{% endblock footer %}

{# Read the documentation for more information #}