{% extends 'base.html' %}

{% load crispy_forms_tags %}
<!-- the header block modified -->
{% block header %}

{% endblock %}


{% block content %}
  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container padhead">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Project</h4>
              <hr class="my-4">
              <div class="small text-black-50">
              <a href="{% url 'project' %}">Manage Projects</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Teacher</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="{% url 'teacher' %}">Manage Teacher</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Student</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="{% url 'student' %}">Manage student</a>
                </div>
            </div>
          </div>
        </div>
      </div>

        <div class="row padhead">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Assets</h4>
              <hr class="my-4">
              <div class="small text-black-50">
              <a href="{% url 'asset' %}">Manage Assets</a>
              </div>
            </div>
          </div>
        </div>
        

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Schools</h4>
              <hr class="my-4">
              <div class="small text-black-50">
              <a href="{% url 'school' %}">Manage Schools</a>
              </div>
            </div>
          </div>
        </div>
        

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Analysis</h4>
              <hr class="my-4">
              <div class="small text-black-50">Generate Report</div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
{% endblock %}

{% block project %}
{% endblock %}